---
type Props = {
  content: string
  active?: boolean
  link: string
  textColor?: string
  afterElement?: string
}

let {
  content,
  active,
  link,
  textColor = "text-neutral-800 hover:text-neutral-100 md:text-neutral-300 md:hover:text-accent-400",
  afterElement = "after:h-1 after:transition-width after:w-0 after:hover:w-full  after:duration-500 md:after:duration-300  after:content-[''] after:absolute after:bottom-0 md:after:h-0.5 after:inset-x-0 after:bg-neutral-100 md:after:bg-accent-400",
} = Astro.props as Props

if (active) {
  textColor = textColor.replace("md:text-neutral-300", "md:text-neutral-800")
}
---

<li class={`cursor-pointer relative transition-color duration-300  ${afterElement} ${textColor}`}>
  <a href={link}>{content}</a>
</li>
