---
import NavigationItem from "./Navigation-item.astro"
---

<nav
  id='primary-nav'
  class='animate-fadeOut md:bg-opacity-0 hidden bg-primary-400 absolute inset-0 md:justify-between md:items-center md:flex md:static md:animate-none'>
  <ul
    class='mb-auto mt-28 text-2xl ml-4 uppercase font-sans md:flex md:gap-6 md:text-lg md:h-auto md:pt-0 md:bg-opacity-0 md:px-0 md:mt-0'>
    <NavigationItem content='home' active />
    <NavigationItem content='history' />
    <NavigationItem content='store' />
    <NavigationItem content='contact' />
  </ul>
</nav>
