---
import IconFacebook from "../icons/Icon-facebook.astro"
import IconTwitter from "../icons/Icon-twitter.astro"
---

<div
  class='animate-fadeOut hidden absolute social-container bottom-10 inset-x-0 align-middle gap-4 z-20 justify-center md:hidden'>
  <IconFacebook />
  <IconTwitter />
</div>
