---
import Anchors from "../components/general/Anchors.astro"
import Buttons from "../components/general/Buttons.astro"
import Inputs from "../components/general/Inputs.astro"
import Textarea from "../components/general/Textarea.astro"
import IconFacebook from "../components/icons/Icon-facebook.astro"
import IconInstagram from "../components/icons/Icon-instagram.astro"
import IconTwitter from "../components/icons/Icon-twitter.astro"
import EvenColumns from "../layout/Even-columns.astro"
import General from "../layout/General.astro"
import Sections from "../layout/Sections.astro"
import SubSection from "../layout/Sub-Section.astro"
---

<General>
  <Sections sectionName='about'>
    <EvenColumns>
      <div class='grid w-full content-start gap-10 md:justify-self-start'>
        <SubSection
          title='Phone Number'
          href='+1 888-555-5555'
          linkPrefix='tel:'
          link='+1 888-555-5555'
          complementaryText='Keep calls during business hours 9:00 AM to 6:00 PM'
        />
        <SubSection
          title='Address'
          href='https://www.google.com/maps/place/Dr.+Rosen+14,+Sos%C3%BAa+57000/@19.7651196,-70.5167412,19z/data=!3m1!4b1!4m6!3m5!1s0x8eb1e37af2eb72c3:0x2c9b8f9f37ad28c8!8m2!3d19.7651196!4d-70.5161927!16s%2Fg%2F11f6lqb6xl'
          link='113 Layman Court, Atlanta Georgia, 30328'
        />
        <div>
          <h2 class='text-2xl font-bold'>Social</h2>
          <div class='flex gap-6'>
            <IconFacebook />
            <IconTwitter />
            <IconInstagram />
          </div>
        </div>
      </div>
      <form class='grid grid-flow-row gap-4 justify-self-center md:gap-8 w-full mx-4'>
        <fieldset class='flex flex-col gap-4 md:flex-row'>
          <Inputs inputName='Name' />
          <Inputs inputName='Inquiry Type' />
        </fieldset>
        <Inputs inputName='Email address ' inputType='email' />
        <fieldset class='flex flex-col gap-4 md:flex-row'>
          <Inputs inputName='Country' />
          <Inputs inputName='Phone Number' />
        </fieldset>
        <Textarea inputName='your-message' label='Your Message' />

        <div class='flex items-start gap-4'>
          <input type='checkbox' class='translate-y-1' />
          <p>
            Yes, I want Plaza José Eichen to be able to contact me as I am 18 years of age or older
            and agree to Plaza José Eichen Terms of Use, <Anchors link='#' underline>
              Privacy Policy & Cookie Policy.
            </Anchors> I also agree that by providing personal information on this page, I am consenting
            to Plaza José Eichen use, storage and maintenance of the information for the intended purposes.
          </p>
        </div>
        <Buttons extra='justify-self-start'>Submit</Buttons>
      </form>
    </EvenColumns>
  </Sections>
</General>
