---
import General from "../layout/General.astro"
import Grid from "../layout/Grid.astro"
import Card from "../components/Card.astro"

import { getCollection } from "astro:content"
const allStores = await getCollection("stores")
---

<General>
  <div class='container'>
    <Grid>
      {
        // if I want only 4 store here is an example
        // allStores.slice(0, 4).map((store)
        allStores.map((store) => {
          return (
            <Card
              image={store.data.image}
              title={store.data.name}
              content={store.data.description}
              subTitle={store.data.subTitle}
            />
          )
        })
      }
    </Grid>
  </div>
</General>
