<div class='even-columns gap-y-20'>
  <slot />
</div>

<style>
  .even-columns {
    display: grid;

    justify-items: center;
  }

  @media (min-width: 640px) {
    .even-columns {
      grid-auto-columns: 1fr;
      grid-auto-flow: column;
    }
  }
</style>
