<div class='grid-container pt-8 mx-auto gap-8 md:gap-8'>
  <slot />
</div>

<style>
  .grid-container {
    display: grid;
    --min-item-width: 250px;

    grid-template-columns: repeat(auto-fit, minmax(min(var(--min-item-width), 100%), 1fr));
  }

  @media (min-width: 768px) {
    .grid-container {
      grid-template-rows: repeat(auto-fit, 400px);
    }
  }
  @media (min-width: 1000px) {
    .grid-container {
      --min-item-width: 350px;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: repeat(auto-fit, 1fr);
    }
  }
</style>
